include partials/header

.container.mt-5
  h1= message
  h2= error.status
  pre #{error.stack}

  hr
  button.btn.btn-secondary(type="button" onclick="window.history.back()") Back
  hr
  a.btn.btn-info(href="/") Home
