doctype html
html
  head
    include partials/header
  body
    include partials/navbar
    
    #app-container
      .container
        block content

    include partials/footer
    include partials/script
