extends ../layout

block content
  .container
    .row.mt-5
      .col-sm-6.col-md-6.offset-md-3
        .text-center
          h1.login-title Wellcome back Thor
          .row
            .col-md-8.offset-md-2
              .account-wall
              img.profile-img(src='/images/logo.jpg' alt='')
              form.form-signin(action="/thor/login" method="post")
                input.form-control.mt-2(type='text' placeholder='Username' name="username" required='' autofocus='')
                input.form-control.mt-2(type='password' placeholder='Password' name="password" required='')
                button.btn.btn-lg.btn-primary.btn-block.mt-2(type='submit')
                  | Sign in
