doctype html
html
  head
    include ../partials/header
  body.sb-nav-fixed
    include ../partials/navbar
  
    #layoutSidenav
      include ../partials/sidebar

      #layoutSidenav_content
        main
          .container-fluid
          
            block content
          
          footer.py-4.bg-light.mt-auto
            .container-fluid
              .d-flex.align-items-center.justify-content-between.small
                .text-muted Copyright © Thor Avengers Shop 2020
                div
                  a(href='#') Privacy Policy
                  |                                 ·
                  a(href='#') Terms & Conditions
            

    block script
    block style
    style.
      main {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    include ../partials/script
