extends ../layout/master

block content
  ol.breadcrumb.mb-4.mt-4
    li(class="breadcrumb-item active") Bán hàng
  .row.mb-4.mt-4
    .col-md-6
      form.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0.w-50(action="/thor/product" method="get")
        .input-group
          input.form-control(type='text' name="keyword" placeholder='Search for...' value=keyword)
          .input-group-append
            button.btn.btn-primary(type='submit')
              i.fa.fa-search
    .col-md-6.text-right 
      //- a(href="/thor/product/create" class="btn btn-primary btn-sm") Thêm mới
      //- a(href="/thor/product/import" class="btn btn-secondary btn-sm ml-1") Nhập hàng
  .row
    .col-md-8
      .row(style="min-height: 300px; max-height: 400px; background: #f3f3f3; overflow: auto")
        .col-md-12
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') First
                th(scope='col') Last
                th(scope='col') Handle
            tbody
              tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
              tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter

      .row
        .col-md-12
          h3 Các mặt hàng
    .col-md-4
      .bill-container
        form
          .form-group.row
            label.col-sm-4.col-form-label(for='xxx') Tổng số mặt hàng 
            .col-sm-8
              input#xxx.form-control(type='number' autocomplete="off")
          
          .form-group.row
            label.col-sm-4.col-form-label(for='xxx') Tổng tiền
            .col-sm-8
              input#xxx.form-control(type='number' autocomplete="off")
          
          .form-group.row
            label.col-sm-4.col-form-label(for='number') Nợ
            .col-sm-8
              input#xxx.form-control(type='text' autocomplete="off")
          
          .form-group.row
            label.col-sm-4.col-form-label(for='xxx') Note
            .col-sm-8
              input#xxx.form-control(type='text' autocomplete="off")
          
          .form-group.row
            label.col-sm-4.col-form-label(for='xxx') Something
            .col-sm-8
              input#xxx.form-control(type='text' autocomplete="off")
          
          .form-group.row.mt-5
            .col-sm-4.offset-sm-8.text-right
              button.btn.btn-success.btn-sm.btn-block(type='submit') Thanh toán

block style
  style.
    .thead-id {
        width: 50px;
    }

    .thead-image {
      width: 150px;
    }

    .thead-stock, .thead-price, .thead-status, .thead-action {
      width: 200px;
    }

    .td-name {
      text-transform: capitalize;
    }

    .product-image {
      width: 85px;
      height: 50px;
    }

    .table {
      min-width: 1000px;
    }

    .bill-container {
      padding: 0 30px;
    }