extends ../layout/master

block content
  ol.breadcrumb.mb-4.mt-4
    li(class="breadcrumb-item active") Bán hàng
  .row.mb-4.mt-4
    .col-md-6
      form.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0.w-50(action="/thor/product" method="get")
        .input-group
          input.form-control(type='text' name="keyword" placeholder='Search for...' value=keyword)
          .input-group-append
            button.btn.btn-primary(type='submit')
              i.fa.fa-search
      //- form(action="/", method="get")
      //-   input.form-control(type="text" name="keyword")
    .col-md-6.text-right 
      a(href="/thor/product/create" class="btn btn-primary btn-sm") Thêm mới
      a(href="/thor/product/import" class="btn btn-secondary btn-sm ml-1") Nhập hàng
  .row
    .col-md-12
      h3 something

//- block style
//-   style.
//-     .thead-id {
//-         width: 50px;
//-     }

//-     .thead-image {
//-       width: 150px;
//-     }

//-     .thead-stock, .thead-price, .thead-status, .thead-action {
//-       width: 200px;
//-     }

//-     .td-name {
//-       text-transform: capitalize;
//-     }

//-     .product-image {
//-       width: 85px;
//-       height: 50px;
//-     }

//-     .table {
//-       min-width: 1000px;
//-     }